.footer {
    background: linear-gradient(90deg, #0097b2, #7ed957); 
    padding: 3px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.footer-content {
    margin: 0;
}

.footer-text {
    margin: 5px 0;
    font-size: 16px;
    font-weight: normal;
}


